<!DOCTYPE HTML>

<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
   <meta charset="UTF-8"/>
  <title>Search Austrian e-Health Terminology Browser (Current Build)</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="http://www.hl7.org"/>

  <link href="{{site.data.info.assets}}fhir.css" rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
  <link href="http://hl7.org/fhir/dist-hist/css/bootstrap.css" rel="stylesheet"/>
  <link href="http://hl7.org/fhir/assets-hist/css/bootstrap-fhir.css" rel="stylesheet"/>

    <!-- Project extras -->
  <link href="http://hl7.org/fhir/assets-hist/css/project.css" rel="stylesheet"/>
  <link href="http://hl7.org/fhir/assets-hist/css/pygments-manni.css" rel="stylesheet"/>
	<link href="http://hl7.org/fhir/jquery-ui.css" rel="stylesheet"/>

    <!-- Favicons -->
  <link rel="fhir-logo" sizes="144x144" href="{{site.data.info.assets}}assets/ico/icon-fhir-144.png"/>
  <link rel="fhir-logo" sizes="114x114" href="{{site.data.info.assets}}assets/ico/icon-fhir-114.png"/>
  <link rel="fhir-logo" sizes="72x72" href="{{site.data.info.assets}}assets/ico/icon-fhir-72.png"/>
  <link rel="fhir-logo" href="{{site.data.info.assets}}assets/ico/icon-fhir-57.png"/>
  <link rel="shortcut icon" href="http://hl7.org/fhir/assets-hist/ico/favicon.png"/>
  <link href="http://hl7.org/fhir/history.css" rel="stylesheet"/>
</head>

<body>
	<div id="segment-header" class="segment">  <!-- segment-header -->	
		<div class="container">  <!-- container -->
   <a id="logo" no-external="true" href="http://hl7.org/fhir"><img src="http://hl7.org/fhir/assets-hist/images/fhir-logo-www.png" alt="logo fhir" width="249" height="60"></a>
<div>
<a id="hl7-logo" no-external="true" href="http://www.hl7.org">
     <img alt="visit the hl7 website" width="42" height="50" src="http://hl7.org/fhir/assets-hist/images/hl7-logo-n.png"/>
    </a>
			</div>       	
      <div id="ig-status" style="font-size:24px;padding-top: 20px;">
        <b id="ig-title">Search Austrian e-Health Terminology Browser (Current Build)</b>
			</div>       	
		</div>
		<div class="container">  <!-- container -->
	</div></div>  <!-- /segment-header -->	


	<div id="segment-navbar" class="segment">  <!-- segment-navbar -->
		<div id="stripe"> </div>
		<div class="container">  <!-- container -->
   <!-- HEADER CONTENT -->
 	      		
			<nav class="navbar navbar-inverse">
				<div class="container">
					<button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					</button>
     <a class="navbar-brand hidden" href="http://hl7.org/fhir/index.html">FHIR</a>
					<div class="nav-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Specification</a></li>
              <li><a href="history.html">History</a></li>
            </ul>

					</div>  <!-- /.nav-collapse -->
				</div>  <!-- /.container -->
			</nav>  <!-- /.navbar -->
      		
  <!-- /HEADER CONTENT -->				
		</div>  <!-- /container -->
	</div>  <!-- /segment-navbar -->
	


  <!-- ============BreadCrumb=============== -->

  </div>  <!-- /container -->
 </div>  <!-- /segment-breadcrumb -->

	<div id="segment-content" class="segment">  <!-- segment-content -->
	<div class="container">  <!-- container -->
            <div class="row">
            	<div class="inner-wrapper">


<div class="col-12">

<h2>Search Austrian e-Health Terminology Browser (Current Build)</h2>

<iframe src="https://duckduckgo.com/search.html?site=file:///builds/elga-gmbh/termgit-dev/output&amp;prefill=Search Austrian e-Health Terminology Browser&amp;focus=yes" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>

<hr/>

<p>
Note: this search searches the curent build of Austrian e-Health Terminology Browser.
</p>
</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->


    
</div>

				</div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->
        
    </div>  <!-- /segment-content -->


	<div id="segment-footer" class="segment">  <!-- segment-footer -->
		<div class="container">  <!-- container -->
			<div class="inner-wrapper">
				<p>
          <span id="ig-footer">hl7.fhir.us.hai: Healthcare Associated Infection Implementation Guide </span> &reg;&copy; <a style="color: #81BEF7" href="http://hl7.org">HL7</a> |
             <!--  <a style="color: #81BEF7" rel="license"  <href="../license.html"><img style="border-style: none;" alt="CC0" src="cc0.png"/></a> -->
                <a style="color: #81BEF7" rel="license" href="http://hl7.org/fhir/license.html"><img style="border-style: none;" alt="CC0" src="cc0.png"/></a>
        </p>
			</div>  <!-- /inner-wrapper -->
		</div>  <!-- /container -->
	</div>  <!-- /segment-footer -->
  <!-- disqus thread -->
  <!-- disqus -->
  <!-- end disqus -->        
	
	<div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
		<div class="container">  <!-- container -->
		</div>  <!-- /container -->
	</div>  <!-- /segment-post-footer -->
    

</body>
</html>

